<section class="Home">
  <div class="HomeBackgound">
    <div class="LeftHome">
      <div class="TextLeft">
        <h3 class="menuTitle">Hilito</h3>
        <div class="itemsContainer">
          <div class="itemMenu">
            <img class="img" src="../../../assets/img/home.png" alt="" />
            <p>Home</p>
          </div>
          <div class="itemMenu">
            <img class="img" src="../../../assets/img/Search.png" alt="" />
            <p>Buscar</p>
          </div>
          <div class="itemMenu">
            <img class="img" src="../../../assets/img/Add.png" alt="" />
            <p>Crear</p>
          </div>
          <div class="itemMenu">
            <img class="img" src="../../../assets/img/Like.png" alt="" />
            <p>Actividad</p>
          </div>
          <div class="itemMenu">
            <img
              class="img"
              src="../../../assets/img/Ellipse 25349.png"
              alt=""
            />
            <p>Perfil</p>
          </div>

          <p class="Mas">Mas</p>
        </div>
      </div>
    </div>
    <div class="CenterHome">holaaaa</div>
  </div>
</section>
