<section class="Home">
  <div class="menu">
    <h3 class="menuTitle">Hilito</h3>
    <div class="itemsContainer">
      <div class="itemMenu itemMenu--home">
        <img class="img" src="../../../assets/img/home.png" alt="" />
        <p>Home</p>
      </div>
      <div class="itemMenu itemMenu--buscar">
        <img class="img" src="../../../assets/img/Search.png" alt="" />
        <p>Buscar</p>
      </div>
      <div class="itemMenu itemMenu--crear">
        <img class="img" src="../../../assets/img/Add.png" alt="" />
        <p>Crear</p>
      </div>
      <div class="itemMenu itemMenu--actividad">
        <img class="img" src="../../../assets/img/Like.png" alt="" />
        <p>Actividad</p>
      </div>
      <div class="itemMenu itemMenu--profile">
        <img class="img" src="../../../assets/img/perfilPequeño.png" alt="" />
        <p>Perfil</p>
      </div>
      <div class="itemMenu itemMenu--mas">
        <img class="img" src="../../../assets/img/btnMas.png" alt="" />
        <p class="Mas">Mas</p>
      </div>
    </div>
  </div>
  <div class="mainContent">
    <div class="agregarPost">
      <div class="postContainer">
        <div class="post post--ImageText">
          <img
            class="imgPerfilPost"
            src="../../../assets/img/perfilMediano.png"
            alt=""
          />
          <p class="userName">rtralrayhan</p>
        </div>
        <div class="post post--Imput">
          <input class="inputPost" type="text" />
          <img
            class="imgClipPost"
            src="../../../assets/img/clipPost.png"
            alt=""
          />
        </div>
      </div>
      <div class="postAgregado">
        <div class="agregadoPostCt">
          <p class="Prueba">PruebaPost</p>
        </div>
      </div>
      <div class="postAgregado">
        <div class="agregadoPostCt">
          <p class="Prueba">PruebaPost</p>
        </div>
      </div>
      <div class="postAgregado">
        <div class="agregadoPostCt">
          <p class="Prueba">PruebaPost</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sugerenciasContent">
    <div class="sugerencias">
      <div class="sugerenciasContainer"></div>
    </div>
  </div>
  <!-- <s="post"></s=> -->
</section>
