<section class="Home">
  <div class="HomeBackgound">
    <div class="LeftHome">
      <div class="TextLeft">
        <h3>Hilito</h3>
        <p>Home</p>
        <img class="img" src="../../../assets/img/home.png" alt="" />
        <p>Buscar</p>
        <img class="img" src="../../../assets/img/Search.png" alt="" />
        <p>Crear</p>
        <img class="img" src="../../../assets/img/Add.png" alt="" />
        <p>Actividad</p>
        <img class="img" src="../../../assets/img/Like.png" alt="" />
        <p>Perfil</p>
        <img class="img" src="../../../assets/img/Ellipse 25349.png" alt="" />
        <p class="Mas">Mas</p>
        <div class="CenterHome">holaaaa</div>
      </div>
    </div>
  </div>
</section>
