<section class="LoginSection">
  <div class="leftLoginSection">
    <div class="leftLoginSection-text">
      <h2>Hilito</h2>
      <p>Ya sabes a quien nos parecemos!</p>
    </div>
  </div>
  <img class="circleDecoration" src="../../../assets/img/Group 2.png" alt="" />
  <div class="rightLoginSection">
    <form action="">
      <h2>Hola de nuevo!</h2>
      <p>Bienvenido Hilitower</p>
      <div class="input-container inputEmail-container">
        <img src="../../../assets/img/codicon_mail.png" alt="" />
        <input type="email" placeholder="email@mail.com" />
      </div>
      <div class="input-container inputPassword-container">
        <img src="../../../assets/img/bx_bxs-lock-alt.png" alt="" />
        <input type="password" placeholder="password" />
      </div>
      <button>Ingreso</button>
      <button>Registro</button>
    </form>
  </div>
</section>
